.body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    text-align: center;
    font-weight: 900;
}

h2 {
    text-align: center;
    margin-bottom: 0px;
}

body {
    background-color: #FFECEF;
}

.page {
    width: 1100px;
    height: inherit;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
    text-align: center;
}

.description h2,
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.description-right {
    padding-left: 12px;
    padding-right: 20px;
    font-size: 14px;
    text-align: justify;
}

.description-left {
    padding-right: 12px;
    padding-left: 20px;
    font-size: 14px;
    text-align: justify;
}

.pure-g {
    margin-bottom: 0px;
    text-align: center;
}

.description-centre {
    padding-left: 210px;
    padding-right: 210px;
    text-align: center;
    font-size: 16px;
}

.description-bcentre {
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    font-size: 14px;
}

.small-font {
    font-size: 14px;
}